!!! 5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7]    <html class="no-js lt-ie9 lt-ie8">
/[if IE 8]    <html class="no-js lt-ie9">
<!--[if gt IE 8]><!-->
%html{:class => "no-js", :lang => "en"}
  <!--<![endif]-->
  %head
    %meta{:charset => "utf-8"}
    %meta{:lang => "ja"}
    %meta{'http-equiv' => "X-UA-Compatible", :content =>"IE=edge,chrome=1"}

    -# Pull in the page title
    %title= current_page.data.title

    %meta{:content => "Ruby Hiroba 2013", :property => "og:site_name"}
    %meta{:property => 'og:url', :content => 'http://rubyhiroba.org/2013/'}
    %meta{:property => 'og:type', :content => 'activity'}
    %meta{:content => "/2013/images/ogImage.png", :property => "og:image"}
    %meta{:name => "description", :content => "RubyHiroba 2013, Jun 2"}
    %meta{:name => "keyword", :content => "rubyhiroba, ruby広場, 2013"}
    %link{ rel: "apple-touch-icon", sizes: "144x144", href: "/2013/apple-touch-icon-144x144-precomposed.png" }
    %link{ rel: "apple-touch-icon", sizes: "114x114", href: "/2013/apple-touch-icon-114x114-precomposed.png" }
    %link{ rel: "apple-touch-icon", sizes: "72x72", href: "/2013/apple-touch-icon-72x72-precomposed.png" }
    %link{ rel: "apple-touch-icon", href: "/2013/apple-touch-icon-precomposed.png" }
    %link{ rel: "shortcut icon", href: "/2013/favicon.png" }
    / should actually be placed in your root dir
    %link{ rel: "icon", type: "image/ico", href: "/2013/favicon.ico" }
    -# You may wish to remove the 'initial scale=1.0' for non-responsive layouts
    %meta{:name => "viewport", :content => "width=device-width,initial-scale=1.0,user-scalable=yes"}

    -# Place favicon.ico and apple-touch-icon.png in the root directory

    = stylesheet_link_tag "/2013/stylesheets/screen", "font-awesome", "http://fonts.googleapis.com/css?family=PT+Sans"
    = javascript_include_tag "libs/modernizr-2.6.1.min", "mylibs/html5", "mylibs/selectivizr-min", "mylibs/smoothScroll"

  %body{:class => current_page.data.bodyclass}
    /[if lt IE 7]
      %p.chromeframe
        You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.

      #main-content{:role => "main"}

    .layout
      = yield

      = partial "/2013/footer"

    = javascript_include_tag "plugins", "script"

