!!! 5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7]    <html class="no-js lt-ie9 lt-ie8">
/[if IE 8]    <html class="no-js lt-ie9">
<!--[if gt IE 8]><!-->
%html{ class: "no-js", lang: "en" }
  <!--<![endif]-->
  %head
    %meta{ charset: "utf-8" }
    %meta{ lang: "ja" }
    %meta{'http-equiv' => "X-UA-Compatible", content: "IE=edge,chrome=1" }
    %title= current_page.data.title
    %meta{ name: "description", content: "Rubyhiroba 2014" }
    %meta{ name: "author", content: "rubyhiroba, ruby広場, 2014" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ content: "RubyHiroba 2014", property: "og:title" }
    %meta{ content: "article", property: "og:type" }
    %meta{ content: "RubyHiroba 2014, the play field for Rubyists — September 21. at CyberAgent, Inc. SHIBUYA MARK CITY WEST 13th floor", property: "og:description" }
    %meta{ content: "http://rubyhiroba.org/2014", property: "og:url" }
    %meta{ content: "http://rubyhiroba.org/2014/ogp.jpg", property: "og:image" }
    %meta{ content: "RubyHiroba 2014", property: "og:site_name" }
    %link{ rel: "shortcut icon", href: "/2014/favicon.ico" }
    %link{ rel: "icon", type: "image/ico", href: "/2014/favicon.ico" }
    %meta{ name: "viewport", content: "width=device-width,initial-scale=1.0,user-scalable=yes" }

    = stylesheet_link_tag "screen", "font-awesome", "http://fonts.googleapis.com/css?family=Poly:400,400italic"
    = javascript_include_tag "libs/modernizr-2.6.1.min", "mylibs/html5", "mylibs/selectivizr-min", "mylibs/smoothScroll"

  %body{ class: current_page.data.bodyclass }
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    /[if lt IE 7]
      %p.chromeframe
        You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.
    
    %nav#header-menu
      %ul
        %li
          = link_to "HOME", "/2014/"
        %li
          = link_to "LTthon", "/2014/ltthon.html"
        %li
          = link_to "生活発表会", "/2014/presentation.html"
        %li
          = link_to "Rails Girls Tokyo 4th", "/2014/rails-girls.html"
        %li
          = link_to "hirobaスペース", "/2014/hiroba-space.html"
    = yield

    = javascript_include_tag "plugins", "script"

