---
title     : RubyHiroba 2014
bodyclass : index
layout    : layout
---

#main
  #header
    #header-cover
  #logo.container
    %a{:href => "/2014/index.html"}
      %img{:src => "/2014/images/logo.png", :alt => "RubyHiroba 2014"}
    %p.mod-top-schedule Sep 21 / Open 9:15  - Close 17:00
  .conetnt.info-bar
    .text
      %a.doorkeeper-registration-widget{:href => "http://rubykaigi.doorkeeper.jp/events/14570"} RubyHiroba 2014
      %script{:src => "http://widgets.doorkeeper.jp/w/widget.js"}
      %h2 the play field for Rubyists — <span class="date">Sep 21</span>
      %p at CyberAgent, Inc. SHIBUYA MARK CITY WEST 13th floor
      %p
        %a{ href: "http://frontrend.github.io/blog/shibuya-markcity/", target: "_blank"}
          Access Info
  .conetnt
    .text
      :markdown
        # RubyHiroba 2014, the play field for Rubyists — September 21

        FIXME: Announce

  .conetnt
    .text
      :markdown
        # 2014/09/21(日)開催 RubyHiroba 2014 はRubyistに会える広場です

        RubyHiroba 2014は終了しました。

        来場いただいた参加者のみなさま、支えてくださったスポンサーのみなさまのおかげです。
        本当にありがとうございました。

        みなさまのご協力のおかげで大きな怪我や物損なく終えることができたのですが、
        残念ながらハラスメントポリシーに抵触してしまう発表の事案がありました。

        ハラスメントについては、ITエンジニアコミュニティに限らず、今日社会の様々なところでそれの発生を防止する取り組みが行われています。
        RubyHirobaでも、[アンチハラスメントポリシー](http://rubyhiroba.org/2014/anti-harassment-policy.html "アンチハラスメントポリシー") を掲載し、当日アナウンス含めて周知を行なってきました。

        しかし、今後の事案を未然に防げなかった上、その後の対応も後手に回ってしまい、このような結果になってしまいました。わたしたちRubyHiroba運営チームの不手際です。大変申し訳ありませんでした。

        今後、こういった事故が起きないように改善につとめてまいります。この度は申し訳ございませんでした。

  .conetnt
    .text
      :markdown
        # Contents
      .nav-to-contents
        = link_to("LTthon", "/2014/ltthon.html")
      .nav-to-contents
        = link_to("生活発表会", "/2014/presentation.html")
      .nav-to-contents
        = link_to("Rails Girls Tokyo 4th", "/2014/rails-girls.html")
      .nav-to-contents
        = link_to("toRuby & guRuby 出張版", "/2014/to-and-guRuby.html")
      .nav-to-contents
        = link_to("Hirobaスペース", "/2014/hiroba-space.html")

  .conetnt
    .text
      %h1
        Sponsors
      .sponsors
        .sponsor
          %a{ href: "https://www.cyberagent.co.jp/", target: "_blank" }
            %img{ src: "/2014/images/sponsor/ca.png", alt: "cyberagent"}
          %p
            Places Sponsor
        .sponsor
          %a{ href: "http://spicelife.jp/", target: "_blank" }
            %img{ src: "/2014/images/sponsor/spicelife.png", alt: "spicelife"}
          %p
            Novelty Sponsor

  .conetnt
    .text
      :markdown
        [RubyHiroba Anti Harassment Policy](anti-harassment-policy.html)

  .conetnt.footer
    .text
      = partial 'sns'
      .copy
        &copy;2014 RubyHiroba

