---
title     : RubyHiroba 2014
bodyclass : index
layout    : layout
---

#main
  #header
    #header-cover
  #logo.container
    %a{:href => "/2014/index.html"}
      %img{:src => "/2014/images/logo.png", :alt => "RubyHiroba 2014"}
  .conetnt.info-bar
    .text
      %h2 the play field for Rubyists — <span class="date">Sep 21</span>
      %p at CyberAgent, Inc. SHIBUYA MARK CITY WEST 13th floor
  .conetnt
    .text
      :markdown
        # RubyHiroba 2014, the play field for Rubyists — September 21

        RubyHiroba 2014 is a single day, multi-tracked(it’ll be 3 - 4 tracks, we hope) Ruby related event which will be held in downtown Tokyo, in front of Shibuya St. on the day after RubyKaigi 2014 — September 21

        Hiroba(広場) means ‘play field’ in Japanese. You rubyists can find many chances to hang out, join some workshop, tutorial, BOF, give a lightning talk and talk to awesome rubyist come from all around the world!

        RubyHiroba is free to join! it’s totally supported by CyberAgent, Inc.

        If your company is also interested to support this event, please drop us a line to 2014 at rubykaigi dot org. We’re planning to ready some sponsor packages for RubyHiroba 2014 (it’ll be independent with RubyKaigi 2014’s).
  .conetnt
    .text
      :markdown
        # どんなイベント？

        RubyHiroba 2014では、ミニワークショップ、アンカンファレンス、ライトニングトークスなどを開催します。
        参加方法は8月頃Webサイトにて告知します。
        メールで通知を受けたい方は、[http://rubykaigi.doorkeeper.jp/](http://rubykaigi.doorkeeper.jp/) コミュニティに参加をお願いいたします。
  .conetnt
    .text
      :markdown
        # Contents
      .nav-to-contents
        = link_to("LTthon", "/2014/ltthon.html")
      .nav-to-contents
        = link_to("生活発表会", "/2014/presentation.html")
      .nav-to-contents
        = link_to("Rails Girls Tokyo 4th", "/2014/rails-girls.html")
      .nav-to-contents
        = link_to("Hirobaスペース", "/2014/hiroba-space.html")

  .conetnt
    .text
      :markdown
        [RubyHiroba Anti Harassment Policy](anti-harassment-policy.html)


  .conetnt.footer
    .text
      = partial 'sns'
      .copy
        &copy;2014 RubyHiroba

