%nav#header_navi
  .container
    %ul.nav
      %li.home= link_to "HOME", "/2013/"
      %li.detail= link_to "BLOG", "/2013/blog.html"
      %li.schedule= link_to "SCHEDULE", "/2013/schedule.html"
      %li.register= link_to "REGISTER", "/2013/#register"
      %li.access= link_to "ACCESS", "/2013/#access"
      %li.team= link_to "TEAM", "/2013/team.html"