---
title     : Booth | RubyHiroba 2013
bodyclass : booth
layout    : layout_2013
---

%h1.logo2
  = image_tag '/2013/images/logo2.png', alt: 'RubyHiroba 2013'

= partial 'nav'

.wrapper
  .container
    %article.article
      .detail
        .image
          <i class="icon-flag"></i>
        .text
          :markdown
            ## Booth
            We will have open space for community booth or Project booth for Ruby relate activity.<br>
            You can open shop of your activity and will meet people who has interest on your activity.<br>
            Also you can distribute stickers, swags or etc. each booth is for seated 2 people.<br><br>

            ## ブース出展リストを更新しました。

            <p class="app_btn"><a href="#booth_list">Booth List</a></p>

            なお、ブース出展の方も[http://rubykaigi.doorkeeper.jp/events/3509](http://rubykaigi.doorkeeper.jp/events/3509) から参加登録をお願いします。

            ### ブースとは

            ブースを構える事で多くの方にあなたの活動を知ってもらったり、ステッカーなどを頒布するなど交流の機会になるでしょう。また、興味のあるテーマがあれば、そのテーマについてのブースを出して、同好のRubyistで集まったり、議論をするなどを行うことができます。

            ### 当日も色々あります。
            RubyHirobaの「Hiroba」という場所でブースが出展されます。

            RubyHirobaはオープンスペースなので、事前応募いただいたブース以外にも、様々な事を行えます。何かアイディアをお持ちの方は是非何か開いてもらえればとてもうれしいです！

            ブースについては地域RubyコミュニティやRubyに関連するプロジェクト、個人や団体にスペースをご用意します。


            ### ブース出展時間帯

            [schedule](schedule.html) の通り、Hirobaというところで、

            * 10:30〜13:30までのブース前半
            * 14:00〜17:00までのブース後半

            の2枠交代制を予定しています。 この時間のなかで、展示をしたり、催し物を行ったり、参加者とコミュニケーションをとったりしてお楽しみください。

            ### ブースの備品

            2名が着席できる椅子と机を用意しています。 電源、ネットワークについてはベストエフォートでの提供となります。

            ### お問い合わせ

            [http://rubykaigi.doorkeeper.jp/group_contacts/new](http://rubykaigi.doorkeeper.jp/group_contacts/new) のフォームからお問い合わせください。
    .article
      %h2#booth_list Booth List
      %ul.booth_list_head
        %li
          %p.title Booth Name / TIME / URL
          %p.comment Comment
      %ul.booth_list
        - data.booth.each do |booth|
          %li<>
            %p.title
              = booth.title
              %span.btime
                = booth.time
              %span.url
                %a{:href => booth.url, :target => "_blank"}= booth.url
            %p.comment
              = booth.comment




