---
title     : TEAM | RubyHiroba 2013
bodyclass : TEAM
layout    : layout_2013
---

%h1.logo2
  = image_tag 'logo2.png', alt: 'RubyHiroba 2013'

= partial 'nav'

.wrapper
  .container
    %article.article
      %ul.team
        - data.team.each do |member|
          %li.member<>
            %p.name
              = member.name
            %p.role
              = [*member.role].join(',<br/>')
            %p.avatar
              %img{ width: 100, height: 100, src: "http://www.gravatar.com/avatar/#{member.gravatar}?s=100", alt: 'Avatar' }




