%nav#header_navi
  .container
    %ul.nav
      %li.home= link_to "HOME", "/"
      %li.detail= link_to "BLOG", "/blog.html"
      %li.schedule= link_to "SCHEDULE", "/schedule.html"
      %li.tickets= link_to "TICKETS", "/#tickets"
      %li.access= link_to "ACCESS", "/#access"
      %li.team= link_to "TEAM", "/#team"