---
title:     RubyHiroba 2013
bodyclass: blog
---

%h1.logo2=image_tag('/images/logo2.png')

= partial 'nav'

.wrapper
  .container
    %article.article
      .main
        - blog.articles[0...5].each do |article|
          %h2
            %a{:href => article.url}= article.title
          %p.date
            %time= article.date.strftime('%b %e %Y')
          = article.summary
          %a{:href => article.url} more read...

      .side
        %ul
        - blog.articles.group_by {|a| a.date.year }.each do |year, articles|
          %li
            %h3= year
            %ul
              - articles.each do |article|
                %li
                  %a{:href => article.url}= article.title