---
title:     RubyHiroba 2013
bodyclass: schedule
---

%h1.logo2=image_tag('/images/logo2.png')

%nav#header_navi
  .container
    %ul.nav
      %li.home= link_to "HOME", "/"
      %li.detail= link_to "DETAIL", "#detail"
      %li.schedule= link_to "SCHEDULE", "schedule.html"
      %li.tickets= link_to "TICKETS", "#tickets"
      %li.access= link_to "ACCESS", "#access"
      %li.team= link_to "TEAM", "#team"

.wrapper
  .container
    %article.article
      .intro
        :markdown
          ## SCHEDULE

          RubyHiroba 2013 is a single day, multi-tracked(it’ll be 3 - 4 tracks, we hope) Ruby related event which will be held in downtown Tokyo, in front of Shinagawa St. on the day after RubyKaigi 2013 — June 2.

          Hiroba<span class="ja">(広場)</span> means ‘play field’ in Japanese. You rubyists can find many chances to hang out, join some workshop, tutorial, BOF, give a lightning talk and talk to awesome rubyist come from all around the world!

          RubyHiroba is free to join! it’s totally supported by Microsoft Japan Co., Ltd. <3

          If your company is also interested to support this event, please drop us a line to 2013 at rubykaigi dot org. We’re planning to ready some sponsor packages for RubyHiroba 2013 (it’ll be independent with RubyKaigi 2013’s).

        .moreinfo
          .tickets

            :markdown
              ### Tickets

              RubyHiroba 2013 is FREE event but you have to register your info via doorkeeper.jp!!
              <a href="http://rubykaigi.doorkeeper.jp/events/3509" target="_blank">http://rubykaigi.doorkeeper.jp/events/3509</a>

          .access

            :markdown
              ### Access

              <a href="http://www.microsoft.com/ja-jp/mscorp/branch/new/en.aspx" target="_blank">Microsoft Japan Co., Ltd headquarters building 31st floor</a>
              <br>
              <a href="" target="_blank">Google Map</a>





